
#weatherContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
    overflow-y: auto;
    max-height: 80vh; 
    margin: 20px auto; 
}

.table-wrapper {
    overflow-x: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: black;
    color: white;
}

@media (max-width: 600px) {
    th, td {
        font-size: 14px;
        padding: 8px;
    }
}
